@model IEnumerable<JuliePro.Models.TrainerCertification>

<script>
    
     // Méthode pour surligner les lignes selon le nom

     function highlightByName() 
    {
         let recherche = document.getElementById("searchInput").value.toLowerCase();
         let lignes = document.getElementsByTagName("tr");

        for (let tr of lignes) 
        {

        let cellules = tr.getElementsByTagName("td")[0] ;

         if (cellules)
         {
             let celluleNom = cellules.innerText.toLowerCase() ;
            if (celluleNom.includes(recherche) & recherche !== "") 
            {
                tr.style.backgroundColor = "yellow";
            } else 
            {
                tr.style.backgroundColor = "";
            }
         }


         }
    }
   



     // TODO: Ajouter la méthode filterByDate()

         function filterByDate() {
        let dateInputValue = document.getElementById("dateInput").value;
        let dateFiltre = new Date(dateInputValue); 
        let lignes = document.getElementsByTagName("tr");

        for (let tr of lignes) {
            let celluleDate = tr.getElementsByTagName("td")[2];
            if (celluleDate) {
                let texteDate = celluleDate.innerText;
                let cellDateObj = new Date(texteDate);

                
                if (dateInputValue === "" || cellDateObj.toISOString().slice(0,10) === dateFiltre.toISOString().slice(0,10)) {
                    tr.style.backgroundColor = "yellow";
                } else {
                     tr.style.backgroundColor = "";
                }
            }
        }
    }
    //            function filterByDate()
    // {
    //     let filtreDate = document.getElementById("dateInput").value.toLowerCase();
    //     let lignes = document.getElementsByTagName("tr");

    //     for (let tr of lignes)
    //     {
    //         let celluleDate = tr.getElementsByTagName("td")[2]; 

    //         if (celluleDate)
    //         {
    //             let texteDate = celluleDate.innerText.toLowerCase();

    //             if (texteDate.includes(filtreDate) && filtreDate != "")
    //             {
    //                 tr.style.display = "";
    //             }
    //             else if (filtreDate == "")
    //             {
    //                 tr.style.display = "";
    //             }
    //             else
    //             {
    //                 tr.style.display = "none";
    //             }
    //         }
    //     }
    // }
</script>


@{
    ViewData["Title"] = @Locals["Index"];
}

<h1>@Locals["Index"]</h1>

<p>
    <a asp-action="Create">@Locals["Create New"]</a>
</p>

<h4>@Locals["HighlightByName"]</h4>
<input id="searchInput"  type="text" oninput="highlightByName()" />

<h4>@Locals["FilterByDate"]</h4>
<input type="date" id="dateInput" />
<button  onclick="filterByDate()" class="btn btn-primary">@Locals["Filter"] </button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trainer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCertification)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a asp-action="Filter" asp-controller="Trainer" asp-route-SearchNameText="@item.Trainer.FullName" >
                    @Html.DisplayFor(modelItem => item.Trainer.FullName)
                </a>
            </td>
            <td>
                <a asp-action="Details" asp-controller="Certification" asp-route-id="@item.Certification_Id">   @Html.DisplayFor(modelItem => item.Certification.FullTitle) </a>
            </td>
            <td>
                @item.DateCertification.ToShortDateString()
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Locals["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Locals["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Locals["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
