@model IEnumerable<JuliePro.Models.RecordViewModel>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="recordsTable">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisciplineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainerFullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var childHtml = $@"
                <div style='padding:10px'>
                <h5>Trainer Details</h5>
                <p><b>First Name :</b> {item.Record.Trainer.FirstName}</p>
                <p><b>Last Name :</b> {item.Record.Trainer.LastName}</p>
                <p><b>Gender :</b> {item.Record.Trainer.Genre}</p>
                <p><b>Email :</b> {item.Record.Trainer.Email}</p>
                </div>";

            <tr data-child="@Html.Raw(childHtml)">
                <td class="details-control">
                    <i class="fa-solid fa-plus"></i>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisciplineName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainerFullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Locals["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@Locals["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Locals["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <link rel="stylesheet"
          href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css" />

    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>

    <script>
                $(document).ready(function () {

            var table = $('#recordsTable').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                order: [[0, 'desc']],
                pageLength: 10
            });

            $('#recordsTable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);
                var icon = $(this).find('i'); 
                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                    icon.removeClass('fa-minus').addClass('fa-plus'); 
                }
                else {
                    row.child(tr.data('child')).show();
                    tr.addClass('shown');
                    icon.removeClass('fa-plus').addClass('fa-minus'); 
                }
            });
        });

    </script>
}

